<mat-card>
  <mat-card-title> {{ car?.brand }} {{ car?.model }} </mat-card-title>
  <mat-card-content fxLayout="column">
    <div>Horse Power: {{ car?.horsePower }}</div>
    <div>Engine: {{ car?.engine }}</div>
    <div>Color: {{ car?.color }}</div>
    <div>Mileage: {{ car?.mileage }}</div>
    <div fxLayout="row" fxLayoutAlign="start center">Type: 
			<mat-chip-list>
				<mat-chip color="primary" selected *ngFor="let type of car.types" style="min-height: 20px;">
					{{ type.name }}
				</mat-chip>
			</mat-chip-list>
		</div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button (click)="onSelected()" mat-raised-button color="primary">Add to cart</button>
  </mat-card-actions>
</mat-card>
